#Password-main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    position: relative;
    

}

.password-container {
    /* border: 1px solid black; */
    width: 43rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

#inform-element{
    font-family: "Arya", sans-serif;
    color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 20rem;

}

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
#inform-element input{
    font-family: "Aleo", serif;
    font-size: 1rem;
    padding-left: 1rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #787878;
    outline: none;
}

#gen-pass {
    display: flex;
    gap: 1rem;
}

#gen-pass div:first-child{
    display: flex;
    flex-direction: column;
}

#gen-pass div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#gen-pass div:last-child button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #46cc5a;
    background-color: #46cc5a;
}

#btn-1 {
    margin-top: 2rem;
    padding-left: 1.5rem;
    display: flex;
    gap: 2rem;
}

#btn-1 button {
    height: 2.5rem;
    width: 6rem;
    border-radius: 10px;

    border: 1px solid #787878;
    
}

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
button{
    font-family: "Arsenal", sans-serif;
}


#zderf{
    font-family: "Arsenal", sans-serif;
    width:40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    

}
#gmdlwxc {
    width: 35rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;

}
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
#bdlfjldkj{
    border-bottom: 1px solid #e5e4e4;
    height: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#bdlfjldkj span:nth-child(2){
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
}

#bdlfjldkj button{
    margin-left: auto;
    justify-self: end;
    border: 1px solid #c0c0ff;
    color: #0000ff;
    border-radius: 20px;
    width: 5rem;
    height: 1.5rem;
    background-color: #c0c0ff;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&display=swap');
#view-box{
    position: absolute;
    font-size: 1.2rem;
    color: black;
    border: 1px solid #cedfdb;
    font-family: "Didact Gothic", sans-serif;
    width: 35rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cedfdb;
    border-radius: 20px;
    overflow: hidden;
}
#view-box-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 1rem;
    width:  100%;
    height: 15rem;
}
#x-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: inherit;
    border: none;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;

}