#Password-main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    

}

.password-container {
    border: 1px solid black;
    width: 35rem;
    height: 35rem;
}
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

#inform-element{
    font-family: "Arya", sans-serif;
    color: rgb(128, 128, 128);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#inform-element input{
    padding-left: 1rem;
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #787878;
    outline: none;
}