#Password-main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    

}

.password-container {
    border: 1px solid black;
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

#inform-element{
    font-family: "Arya", sans-serif;
    color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 20rem;

}
#inform-element input{
    padding-left: 1rem;
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #787878;
    outline: none;
}
#gen-pass {
    display: flex;
    gap: 1rem;
}

#gen-pass div:first-child{
    display: flex;
    flex-direction: column;
}
#gen-pass div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#gen-pass div:last-child button {
    width: 6rem;
    height: 2.2rem;
    border-radius: 10px;
    border: 1px solid #46cc5a;
    background-color: #46cc5a;
}

